body {
    font-family: 'Roboto', sans-serif;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: white;
    margin-top: 20px;
    border-bottom: 3px solid rgb(189,22,34);
    background: rgb(189,22,34);
}

.align-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content /deep/ p {
    text-align: justify;
}

.content /deep/ blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
