body {
    font-family: 'Roboto', sans-serif;
}

.header-title {
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.title {
    text-align: center;
    color: white;
    margin-top: 20px;
    border-bottom: 3px solid rgb(189,22,34);
    background: rgb(189,22,34);
}

.align-body {
    display: flex;
    
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-link {
    color: #ffffff;
    text-decoration: none;
}

.navigation-link:hover {
    color: #ffffff;
    text-decoration: none;
}

